@import url("https://fonts.cdnfonts.com/css/caviar-dreams");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}

.GG {
  font-family: "Caviar Dreams", sans-serif;
  font-weight: 500;
}

.GGbandeau {
  position: sticky;
  top: 70px;
  font-size: 25px;
  border-bottom: 2px solid #d8d8d8;
  border-top: 2px solid #d8d8d8;
  padding: 20px;
  font-weight: bold;
  background-color: white;
}

.container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.pageContent2 {
  display: flex;
  flex-flow: row;
  background-color: #f2f2f2;
  padding: 25px;
  padding-bottom: 100px;
}

.pageContent2 > div > img {
  height: 200px;
  margin: 0px 70px 0px 50px;
}

.pageContent2 > ul > li {
  margin-bottom: 20px;
}

@media only screen and (max-width: 695px) {
  .GGbandeau {
    top: 100px;
  }

  .pageContent2 {
    flex-flow: column;
  }
}
@media only screen and (max-width: 367px) {
  .GGbandeau {
    top: 130px;
  }
}
