<div id="navContainer">
  <div id="logoContainer">
    <img
      src="../../assets/LogoGG.jpg"
      alt=""
      style="width: 250px; height: 250px"
    />
  </div>
  <div id="linkContainer">
    <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
    <a routerLink="/hotel" routerLinkActive="active">Hôtel</a>
    <a routerLink="/restaurant" routerLinkActive="active">Restaurant</a>
    <a routerLink="/camping" routerLinkActive="active">Camping</a>
    <a routerLink="/magasin" routerLinkActive="active">Magasin</a>
    <a routerLink="/artisan" routerLinkActive="active">Artisan</a>
    <a routerLink="/producteur-eleveur" routerLinkActive="active"
      >Productuer-Eleveur</a
    >
    <a routerLink="/office-de-tourisme" routerLinkActive="active"
      >Office de tourisme</a
    >
    <a routerLink="/receptif" routerLinkActive="active">Réceptif</a>
    <a routerLink="/mairi" routerLinkActive="active">Mairi</a>
    <a routerLink="/media-presse" routerLinkActive="active">Média-Presse</a>
    <a routerLink="/club-sportif" routerLinkActive="active">Club sportif</a>
    <a routerLink="/transport-de-personnes" routerLinkActive="active"
      >Transport de personnes</a
    >
  </div>
</div>
