

    #globalContainer {
      display: flex; /* Utilise un affichage flexible */
      flex-direction: column; /* Organise les éléments enfants en colonne */
      align-items: center; /* Centre les éléments enfants horizontalement */
      position: sticky; /* Rend l'élément "collant" */
      top: 0px; /* Le fixe en haut de la fenêtre lorsqu'il devient collant */
      width: 100%; /* Occupe toute la largeur disponible */
      padding: 20px; /* Ajoute un rembourrage de 20px tout autour */
      background-color: white; /* Définit un fond blanc */
    }
    
    #globalContainer img {
      width: 25%; /* Définit la largeur de l'image à 50% de son conteneur */
      height: auto; /* Maintient le ratio d'aspect de l'image */
      margin-bottom: 10px; /* Ajoute une marge de 10px en bas de l'image */
    }
    
    #globalPageTitle {
      font-size: 25px; /* Définit la taille de la police à 25 pixels */
      text-align: center; /* Centre le texte horizontalement */
    }