<div id="globalView">
  <app-titre-bandeau></app-titre-bandeau>
  <!-- <app-nav-component></app-nav-component>-->
  <div id="appContent">
    <main>
      <ul id="trade">
        @for (trade of trade_members; track trade.trade_id) {
        <li>
          <app-trade [trade]="trade" [selected]="trade.trade_id === selectedTradeId"
            (selectedTrade)="onSelectTrade($event)" />

        </li>
        }


      </ul>
      @if (selectedTrade){
      <app-trade-arguments [trade_id]="selectedTrade.trade_id" [trade_name]="selectedTrade.trade_name" [trade_teasing]="
        selectedTrade.trade_teasing" />
      }
      @else {
      <div>
        <span class="fallback bigger">Professionnels,<br><br>
          découvrez comment <b class="GG_Bold">GentleGuest</b><br>
          attire et fidélise vos clients. <br><br>
        </span>
        <p class="fallback">Sélectionnez votre activité.</p>
      </div>

      }
    </main>

  </div>
</div>