<div id="globalView">
  <app-titre-bandeau></app-titre-bandeau> 
 <!-- <app-nav-component></app-nav-component>-->
  <div id="appContent">
    <main>
      <ul id="trade">
        <li>
          <app-trade 
          [trade_avatar]="trade_members[0].trade_avatar"
          [trade_name]="trade_members[0].trade_name"
          [trade_id]="trade_members[0].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[1].trade_avatar"
          [trade_name]="trade_members[1].trade_name"
          [trade_id]="trade_members[1].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[2].trade_avatar"
          [trade_name]="trade_members[2].trade_name"
          [trade_id]="trade_members[2].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[3].trade_avatar"
          [trade_name]="trade_members[3].trade_name"
          [trade_id]="trade_members[3].trade_id"
          (selectedTrade)="onSelectTrade($event)"

          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[4].trade_avatar"
          [trade_name]="trade_members[4].trade_name"
          [trade_id]="trade_members[4].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          /> 
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[5].trade_avatar"
          [trade_name]="trade_members[5].trade_name"
          [trade_id]="trade_members[5].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[6].trade_avatar"
          [trade_name]="trade_members[6].trade_name"
          [trade_id]="trade_members[6].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[7].trade_avatar"
          [trade_name]="trade_members[7].trade_name"
          [trade_id]="trade_members[7].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[8].trade_avatar"
          [trade_name]="trade_members[8].trade_name"
          [trade_id]="trade_members[8].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[9].trade_avatar"
          [trade_name]="trade_members[9].trade_name"
          [trade_id]="trade_members[9].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[10].trade_avatar"
          [trade_name]="trade_members[10].trade_name"
          [trade_id]="trade_members[10].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
        <li>
          <app-trade
          [trade_avatar]="trade_members[11].trade_avatar"
          [trade_name]="trade_members[11].trade_name"
          [trade_id]="trade_members[11].trade_id"
          (selectedTrade)="onSelectTrade($event)"
          />
        </li>
      </ul>
    </main>
   
  </div>
</div>
