<div id="homeContainer">
  <div class="pageTitle">Imaginons un évènement mondial :</div>
  <div class="pageContent">
    <article>
      Bonjour ! Découvrez les derniers articles exclusifs de TheNewspaper-Démo
      sur les sites olympiques 2024. Cliquez ici pour explorer votre carte et
      commencez une expérience unique :
      <a href="https://belletre.ddns.net:3003/#/map/TISS6"
        >https://belletre.ddns.net:3003/#/map/TISS6</a
      >. Bonne découverte!
    </article>
    <img src="../../assets/QRCode.png" alt="QRCode" />
  </div>
  <div class="pageTitle">
    que peut faire&nbsp;
    <p class="GG">GentleGuest</p>
    &nbsp;pour vous ?
  </div>
  <div class="pageContent">
    <div id="metierTitle">Choisissez votre coeur de métier</div>
  </div>
</div>
