#bandeauContainer {
  padding-right: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#bandeau {
  background-color: #f9fafb;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

p {
  font-size: 25px;
}

a {
  font-size: 25px;
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}
